body {
  background-color: #ffff;
  font-size: 150%;
}

h1 {
  text-align: center;
}

section {
  background-color: gray;
  float: left;
  width: 32%;
  border: 1px solid black;
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;
}

h2 {
  margin: 0px -10px 20px 0px;
  float: right;
  text-align: right;
  border: 1px solid black;
  padding: 0px 10px 0px;
}

p {
  clear: right;
}

#chicken > h2 {
  background-color: pink;
}

#beef > h2 {
  background-color: indianred;
}

#sushi > h2 {
  background-color: yellow;
}

@media (min-width: 992px) {
  #chicken {
    margin-left: 1%;
    margin-right: 1%;
  }

  #beef {
    margin-right: 1%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #chicken {
    width: 49%;
    margin-right: 10px;
  }

  #beef {
    width: 49%;
  }

  #sushi {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  #chicken {
    width: 100%;
    margin-top: 20px;
  }

  #beef {
    width: 100%;
    margin-top: 20px;
  }

  #sushi {
    margin-top: 20px;
    width: 100%;
  }
}
